<launch>
  <!-- robot settings -->
  <arg name="control_duration" default="0.01" doc="The duration of the control loop [s]."/>

  <!-- load parameters -->
  <param name="control_duration" type="double" value="$(arg control_duration)"/>

  <!-- start the control node -->
  <node name="data_acquisition" pkg="dysturbance_ros_control" type="dysturbance_ros_default"
        respawn="false" output="screen" required="true"/>
</launch>