<launch>
  <group ns="dysturbance">
    <!-- debug -->
    <param name="debug_acquisition" type="bool" value="true"/>
    <!-- reset pendulum position -->
    <param name="reset_pendulum" type="bool" value="false"/>

    <!-- start the control node to execute the experiment and start the data acquisition -->
    <node name="data_acquisition" pkg="dysturbance_ros_control" type="dysturbance_ros_default"
          respawn="false" output="screen" required="true"/>

    <!-- start the OPC-UA communication node -->
    <node name="opcua_client" pkg="ros_opcua_impl_freeopcua" type="client_node"
          respawn="false" output="screen" required="true"/>
  </group>
</launch>